<% include partials/header %>

<head>
  <title>Add a Post</title>
</head>

<body id="postBody">
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Dashboard</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/dash">Home</a></li>
            <li class="active"><a href="/dash/posts/add">Add Post</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="/dash"><span class="glyphicon glyphicon-user"></span>  <%= user.name %> </a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="container">
        <h1> <%= post.title %> </h1>
        <h4> <em> Writen by <%= post.author %> </em></h4>
        <hr />
        <blockquote class="blockquote">
            <p class="mb-0"><%= post.body %></p>
        </blockquote>

        <a class="btn btn-default" href="/post/edit/<%=post._id%>">Edit</a>
        <a class="btn btn-danger delete-post" data-id=<%=post._id%> href='#'>Delete</a>  <!--data-id holds on to the id of the object-->
  </div>
  
  <br><br><br><br><br><br><br><br><br><br>
  
<% include partials/footer %>